<div class="container">
  <h1>Recent Orders_</h1>
  <% @orders.each do |order|%>
    <span class="border">
      <div class="feature col">
        <p>Order Date: <%= order.created_at %></p>
        <p>Order# <strong><%= order.id %></strong></p>
        <p>Status: <strong><%= order.status %></strong></p>
        <%= link_to 'Details', detail_orders_path(id: order.id), class:"btn btn-danger" %>
      </div>
    </span>
  <% end %>
</div>
