<div class="container">
  <h2>Cart_</h2>

  <% @cart.each do |cart_item|%>
    <span class="border">
      <div class="feature col">
        <p>Name: <strong><%= cart_item.product.name %></strong></p>
        <p>Quantity: <strong><%= cart_item.quantity %></strong></p>
        <%= link_to 'Destroy', cart_items_url, method: :delete, data: { confirm: "Are you sure?"}, remote: true , class: 'delete_e'%>
      </div>
    </span>
  <% end %>
  <div class="container"><%= link_to "Finalize Order","", class:"btn btn-danger"%></div>
</div>
